/* Base */
:root {
  --lights: #faf4ea;
  --dark-brown: #31261a;
  --light-green: #819b57;
  --dark-green: #465929;
  --light-brown: #a18268;
  --gray: #cfcfbc;
}

/* Властивості тексту: font-style, font-variant, font-weight, font-size, font-family, text-align, text-indent, text-decoration.
Властивості блоків: margin (зовнішній відступ), border (межа), padding (внутрішній відступ).
Властивості кольору та фону: color, background-color.
Властивості позиціонування: position, top, left, z-index.  */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 1.5; /*line-height 27/  font-size  18  = 1.5 */
  margin: 0;
  color: var(--dark-brown);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

/* header */
.nav-link {
  color: var(--lights);
}

.nav-link:hover {
  font-weight: 600;
  color: var(--light-green);
}

.button-call {
  font-weight: 600;
  color: var(--lights);
  background-color: var(--light-green);
  border: 2px solid var(--light-green);
  border-radius: 8px;
  padding: 16px 32px;
  cursor: pointer;
}

.button-call:hover {
  color: var(--dark-green);
  background-color: transparent;
}

/* header */

.header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
}

.link-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
}

/* hero */

.hero-section {
  padding: 272px 0;
}

.hero-title {
  font-weight: 900;
  font-size: 128px;
  color: var(--lights);
}

.center-title {
  text-align: center;
}

.accent {
  color: var(--light-green);
}

.semibold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.accent-second {
  color: var(--dark-green);
}

/* advantages */

.advantages-section {
  padding: 16px 0;
  background-color: var(--light-green);
}

.advantages-list {
  font-weight: 300;
  font-size: 20px;
  color: var(--lights);
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

/* traditions */

.section {
  padding: 48px 0;
}

.section-traditions {
  padding-top: 96px;
}

.section-title {
  font-weight: 900;
  font-size: 64px;
  line-height: 1.31;
  margin-bottom: 80px;
}

.section-title.title-traditions {
  margin-bottom: 42px;
}

.descr-traditions {
  margin-bottom: 42px;
}

/* chefs */

.chefe-name {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 16px;
}

.descr-chefe {
  margin-bottom: 18px;
}

/* formats */

.list-formats {
  font-weight: 300;
  font-size: 14px;
  color: var(--lights);
}

.formats-name {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 16px;
}

/* contacts */

.section-title.contacts-title {
  margin-bottom: 16px;
}

.callto-action {
  margin-bottom: 42px;
  color: var(--dark-green);
}

.button-call.button-form {
  margin-bottom: 16px;
}

.descr-privacy {
  font-size: 12px;
}

.link-privacy {
  text-decoration: underline;
  color: var(--dark-brown);
}

/* footer */

.nav-link.address {
  font-weight: 300;
  font-size: 16px;
}

.data-protected {
  font-size: 14px;
  color: var(--light-brown);
}
