/* Base */
:root {
  --lights: #faf4ea;
  --dark-brown: #31261a;
  --light-green: #819b57;
  --dark-green: #465929;
  --light-brown: #a18268;
  --gray: #cfcfbc;
}

/* Властивості тексту: font-style, font-variant, font-weight, font-size, font-family, text-align, text-indent, text-decoration.
Властивості блоків: margin (зовнішній відступ), border (межа), padding (внутрішній відступ).
Властивості кольору та фону: color, background-color.
Властивості позиціонування: position, top, left, z-index.  */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 1.5; /*line-height 27/  font-size  18  = 1.5 */
  margin: 0;
  color: var(--dark-brown);
  background-color: var(--lights);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: block;
}

a {
  display: inline-block;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

/* header */
.nav-link {
  color: var(--lights);
}

.nav-link:hover {
  font-weight: 600;
  color: var(--light-green);
}

.button-call {
  font-weight: 600;
  color: var(--lights);
  background-color: var(--light-green);
  border: 2px solid var(--light-green);
  border-radius: 8px;
  padding: 16px 32px;
  cursor: pointer;
}

.button-call:hover {
  color: var(--dark-green);
  background-color: transparent;
}

/* header */

.header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
}

.link-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
}

/* hero */

.hero-section {
  padding: 272px 0;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-title {
  font-weight: 900;
  font-size: 128px;
  color: var(--lights);
}

.center-title {
  text-align: center;
}

.accent {
  color: var(--light-green);
}

.semibold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.accent-second {
  color: var(--dark-green);
}

/* advantages */

.advantages-section {
  padding: 16px 0;
  background-color: var(--light-green);
}

.advantages-list {
  font-weight: 300;
  font-size: 20px;
  color: var(--lights);
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

/* traditions */

.section {
  padding: 48px 0;
}

.section-traditions {
  padding-top: 96px;
}

.container-tradition {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.section-title {
  font-weight: 900;
  font-size: 64px;
  line-height: 1.31;
  margin-bottom: 80px;
}

.section-title.title-traditions {
  margin-bottom: 42px;
}

.descr-traditions {
  margin-bottom: 42px;
}

.img-tradition {
  border-radius: 400px 400px 0 0;
}

/* chefs */
.chefs-title::before {
  content: '';
  display: block;
  width: 352px;
  height: 2px;
  background-color: #cfcfbc;
}

.chefs-title::after {
  content: '';
  display: block;
  width: 352px;
  height: 2px;
  background-color: #cfcfbc;
}

.chefe-list {
  display: flex;
  gap: 40px 30px;
}

.chefe-item {
  flex-basis: calc((100% - 30px) / 2);
}

.chefe-info {
  display: flex;
  gap: 30px;
}

.chefe-photo {
  max-height: 390px;
  box-shadow: -8px 8px 0 0 var(--lights), -8px 8px 0 2px var(--light-brown);
  border-radius: 4px 4px 4px 200px;
}

.chefe-name {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 16px;
}

.descr-chefe {
  margin-bottom: 18px;
}

/* formats */

.container-formats {
  font-weight: 300;
  font-size: 14px;
  color: var(--lights);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 33px;
}

.button-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: 1px solid var(--dark-brown);
  border-radius: 50%;
  fill: var(--dark-brown);
  background-color: transparent;
  cursor: pointer;
}

.button-arrow:hover {
  fill: var(--lights);
  background-color: var(--dark-brown);
}

.list-formats {
  display: flex;
  gap: 20px;
}

.item-format {
  max-width: 349px;
  height: 444px;
  flex-basis: calc((100% - 40px) / 3);
  background-color: var(--light-brown);
}

.formats-name {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 16px;
}

/* contacts */

.contacts-section {
  padding-bottom: 96px;
}

.section-title.contacts-title {
  margin-bottom: 16px;
}

.callto-action {
  margin-bottom: 42px;
  color: var(--dark-green);
}

.button-call.button-form {
  margin-bottom: 16px;
}

.descr-privacy {
  font-size: 12px;
}

.link-privacy {
  text-decoration: underline;
  color: var(--dark-brown);
}

/* footer */

.footer {
  background-color: var(--dark-brown);
  background-image: url(../images/footer.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.nav-link.address {
  font-weight: 300;
  font-size: 16px;
}

.social-link {
  fill: var(--lights);
}

.social-link:hover svg {
  fill: var(--light-green);
}

.data-protected {
  font-size: 14px;
  color: var(--light-brown);
}
