/* Base */
:root {
  --lights: #faf4ea;
  --dark-brown: #31261a;
  --light-green: #819b57;
  --dark-green: #465929;
  --light-brown: #a18268;
  --gray: #cfcfbc;
}

/* Властивості тексту: font-style, font-variant, font-weight, font-size, font-family, text-align, text-indent, text-decoration.
Властивості блоків: margin (зовнішній відступ), border (межа), padding (внутрішній відступ).
Властивості кольору та фону: color, background-color.
Властивості позиціонування: position, top, left, z-index.  */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5; /*line-height 27/  font-size  18  = 1.5 */
  margin: 0;
  color: var(--dark-brown);
  background-color: var(--lights);
}

@media screen and (min-width: 1200px) {
  body {
    font-weight: 400;
    font-size: 18px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: block;
}

a {
  display: inline-block;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 24px;
  }
}

button {
  cursor: pointer;
}

/* header */

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 16px;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 32px;
  }
}

.logo {
  display: block;
  width: 78px;
  height: 38px;
  fill: var(--lights);
}

@media screen and (min-width: 768px) {
  .logo {
    width: 114px;
    height: 56px;
  }
}

.link-list {
  display: none;
}

@media screen and (min-width: 1200px) {
  .link-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
  }
}

.menu-btn-open {
  border: none;
  background-color: transparent;
  fill: var(--lights);
}

@media screen and (min-width: 1200px) {
  .menu-btn-open {
    display: none;
  }
}

.nav-link {
  color: var(--lights);
  transition: color 0.2s;
}

.nav-link:hover {
  color: var(--light-green);
}

.button-call {
  display: none;
  font-weight: 600;
  color: var(--lights);
  background-color: var(--light-green);
  border: 2px solid var(--light-green);
  border-radius: 8px;
  padding: 16px 32px;
  transition: color 0.2s, background-color 0.2s;
}

@media screen and (min-width: 1200px) {
  .button-call {
    display: block;
  }
}

.button-call:hover {
  color: var(--dark-green);
  background-color: var(--lights);
}

.header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
}

.mobile-menu {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--lights);
  padding: 16px 24px;
  transform: translateX(100%);
  transition: transform 0.3s;
}

@media screen and (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.logo-mobile-menu {
  margin-bottom: 32px;
  width: 72px;
  height: 38px;
  display: block;
  fill: #31261a;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.mobile-menu-list::after {
  width: 179px;
  height: 240px;
  content: '';
  background-image: url(../images/textbaguette.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(-15deg);
  position: absolute;
  top: 418px;
  right: -27px;
}

.mobile-menu-link {
  color: var(--dark-brown);
  transition: color 0.2s;
}

.mobile-menu-link:hover {
  font-weight: 600;
  color: var(--light-green);
}

.menu-btn-close {
  border: none;
  position: absolute;
  top: 16px;
  right: 24px;
  background-color: transparent;
  stroke: var(--dark-brown);
  fill: transparent;
}

/* hero */

.hero-section {
  padding: 122px 0 32px 0;
  background-color: var(--dark-brown);
  background-image: linear-gradient(
      127deg,
      rgba(18, 18, 17, 0.78) 0%,
      rgba(18, 18, 17, 0.6) 63.89%,
      rgba(18, 18, 17, 0) 100%
    ),
    url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding: 272px 0;
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(
        127deg,
        rgba(18, 18, 17, 0.78) 0%,
        rgba(18, 18, 17, 0.6) 63.89%,
        rgba(18, 18, 17, 0) 100%
      ),
      url(../images/background@2x.jpg);
  }
}

.hero-title {
  font-weight: 900;
  color: var(--lights);
  font-size: 67px;
  line-height: 1;
  margin-bottom: 48px;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 128px;
    line-height: 1.5;
    margin-bottom: 0;
  }
}

.center-title {
  text-align: center;
}

.accent {
  color: var(--light-green);
}

.semibold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.accent-second {
  color: var(--dark-green);
}

.link-call-mobile {
  margin: 0 auto;
  text-align: center;
  width: 203px;
  height: 44px;
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: var(--lights);
  background-color: var(--light-green);
  border: 2px solid var(--light-green);
  border-radius: 8px;
  padding: 10px 24px;
  transition: color 0.2s, background-color 0.2s;
}

.link-call-mobile:hover {
  color: var(--dark-green);
  background-color: var(--lights);
}

@media screen and (min-width: 1200px) {
  .link-call-mobile {
    display: none;
  }
}

/* advantages */

.advantages-section {
  padding: 16px 0;
}

@media screen and (min-width: 768px) {
  .advantages-section {
    padding: 16px 0;
    background-color: var(--light-green);
  }
}

.advantages-list {
  background-color: var(--gray);
  border-radius: 24px;
  padding: 24px 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .advantages-list {
    background-color: transparent;
    padding: 0;
    font-weight: 300;
    font-size: 20px;
    color: var(--lights);
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
  }
}

/* traditions */

.section {
  padding: 20px 0;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 48px 0;
  }
}

.section-traditions {
  padding-top: 20px;
}

@media screen and (min-width: 768px) {
  .section-traditions {
    padding-top: 96px;
  }
}

.container-tradition {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.section-title {
  font-weight: 900;
  font-size: 32px;
  margin-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 64px;
    line-height: 1.31;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .section-title.title-traditions {
    margin-bottom: 42px;
  }
}

.descr-traditions {
  font-size: 16px;
  margin-bottom: 16px;
}

@media screen and (min-width: 1200px) {
  .descr-traditions {
    font-size: 18px;
    margin-bottom: 42px;
  }
}

.img-tradition {
  display: none;
}

@media screen and (min-width: 768px) {
  .img-tradition {
    display: block;
    border-radius: 400px 400px 0 0;
    width: 284px;
    height: auto;
  }
}

@media screen and (min-width: 1200px) {
  .img-tradition {
    width: 393px;
    height: 466px;
  }
}

/* chefs */

.chefs-title {
  position: relative;
}

@media screen and (min-width: 1200px) {
  .chefs-title::before,
  .chefs-title::after {
    content: '';
    position: absolute;
    bottom: 24px;
    width: 352px;
    height: 2px;
    background-color: #cfcfbc;
  }

  .chefs-title::before {
    left: 0;
  }

  .chefs-title::after {
    right: 0;
  }
}

.chefe-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 20px;
}

@media screen and (min-width: 1200px) {
  .chefe-list {
    gap: 40px 30px;
  }
}

.chefe-item {
  flex-basis: 1;
}

@media screen and (min-width: 768px) {
  .chefe-item {
    flex-basis: calc((100% - 30px) / 2);
  }
}

.chefe-info {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.chefe-photo {
  width: 156px;
  height: auto;
  box-shadow: -8px 8px 0 0 var(--lights), -8px 8px 0 2px var(--light-brown);
  border-radius: 4px 4px 4px 200px;
}

@media screen and (min-width: 1200px) {
  .chefe-photo {
    width: 240px;
    height: 390px;
  }
}

.chefe-name {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .chefe-name {
    font-size: 40px;
    margin-bottom: 16px;
  }
}

.descr-chefe {
  margin-bottom: 14px;
}

@media screen and (min-width: 1200px) {
  .descr-chefe {
    margin-bottom: 18px;
  }
}

/* formats */

.container-formats {
  font-weight: 300;
  font-size: 14px;
  color: var(--lights);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 33px;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .container-formats {
    margin-bottom: 32px;
  }
}

.swiper-container {
  overflow: hidden;
}

.button-arrow {
  display: none;
}

@media screen and (min-width: 768px) {
  .button-arrow {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: 1px solid var(--dark-brown);
    border-radius: 50%;
    fill: var(--dark-brown);
    background-color: transparent;
    transition: fill 0.2s, background-color 0.2s;
  }
}

.button-arrow.next {
  transform: rotate(180deg);
}

.button-arrow:hover {
  fill: var(--lights);
  background-color: var(--dark-brown);
}

.swiper-slide.card {
  display: flex;
  justify-content: center;
}

.card-format {
  width: 321px;
  height: 442px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--dark-brown) 100%
  );
  display: flex;
  align-items: flex-end;
  padding: 24px;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}

@media screen and (min-width: 1200px) {
  .card-format {
    width: 349px;
    height: 444px;
  }
}

.img-format {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.formats-name {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 16px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.pagination-button {
  border-radius: 50%;
  width: 11px;
  height: 11px;
  background-color: var(--light-brown);
}

.pagination-button-active {
  background-color: var(--light-green);
}

/* contacts */

.contacts-section {
  padding-bottom: 0;
}

@media screen and (min-width: 768px) {
  .contacts-section {
    padding-bottom: 96px;
  }
}

.container-contacts {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media screen and (min-width: 768px) {
  .container-contacts {
    flex-direction: row;
    gap: 32px;
  }
}

.form-container {
  flex-basis: calc((100% - 32px) / 2);
}

.section-title.contacts-title {
  letter-spacing: -0.01em;
  margin-bottom: 16px;
}

.callto-action {
  margin-bottom: 42px;
  color: var(--dark-green);
}

.button-call.button-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
}

.button-call.button-form:hover {
  color: var(--dark-green);
  background-color: transparent;
}

.descr-privacy {
  text-align: center;
  font-weight: 500;
  font-size: 12px;
}

.link-privacy {
  text-decoration: underline;
  text-underline-offset: 2px;
  color: var(--dark-brown);
}

.map {
  width: 100%;
  height: 176px;
}

@media screen and (min-width: 768px) {
  .map {
    width: 603px;
    height: 595px;
    border-radius: 16px;
  }
}

/* footer */

.footer {
  background-color: var(--dark-brown);
  background-image: url(../images/footer.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding: 32px 0;
  position: relative;
  overflow: hidden;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
  }
}

.footer-container::before,
.footer-container::after {
  content: '';
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

.footer-container::before {
  width: 92px;
  height: 196px;
  background-image: url(../images/baguette.png);
  transform: rotate(6.44deg);
  left: -20px;
  bottom: 259px;
}

@media screen and (min-width: 768px) {
  .footer-container::before {
    width: 181px;
    height: 342px;
    transform: rotate(-10deg);
    left: -33px;
    bottom: -200px;
  }
}

.footer-container::after {
  width: 111px;
  height: 120px;
  background-image: url(../images/two-baguette.png);
  transform: rotate(20deg);
  right: -22px;
  bottom: -43px;
}

@media screen and (min-width: 768px) {
  .footer-container::after {
    width: 305px;
    height: 330px;
    transform: rotate(25deg);
    right: 18px;
    bottom: -200px;
  }
}

.nav-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media screen and (min-width: 768px) {
  .nav-wrapper {
    flex-direction: row;
    flex-basis: 50%;
    gap: 20px;
  }
}

.logo-footer {
  display: block;
  width: 78px;
  height: 38px;
  fill: var(--lights);
}

@media screen and (min-width: 768px) {
  .logo-footer {
    flex-grow: 1;
    width: 114px;
    height: 56px;
  }
}

.list-link-footer {
  text-align: center;
  flex-grow: 1;
}

@media screen and (min-width: 768px) {
  .list-link-footer {
    text-align: start;
  }
}

.address-wrapper {
  text-align: center;
  flex-grow: 1;
}

@media screen and (min-width: 768px) {
  .address-wrapper {
    text-align: start;
  }
}

.footer-parth {
  text-align: center;
  flex-grow: 1;
}

@media screen and (min-width: 768px) {
  .footer-parth {
    text-align: start;
  }
}

.list-link-footer :not(:last-child) {
  margin-bottom: 16px;
}

.nav-link.address {
  display: block;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 22px;
}

@media screen and (min-width: 768px) {
  .social-list {
    justify-content: flex-start;
  }
}

.social-link svg {
  fill: var(--lights);
  transition: fill 0.2s;
}

.social-link:hover svg {
  fill: var(--light-green);
}

.data-protected {
  font-size: 14px;
  color: var(--light-brown);
}

/* backdrop */

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  background-color: rgba(49, 38, 26, 0.4);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.modal {
  background-color: var(--lights);
  border-radius: 32px;
  max-width: 880px;
  width: 100%;
  height: 100%;
  max-height: 880px;
  overflow: auto;
  padding: 128px;
  position: relative;
}

.modal-btn-close {
  width: 32px;
  height: 32px;
  border: none;
  position: absolute;
  top: 40px;
  right: 40px;
  background-color: transparent;
  stroke: var(--dark-brown);
  fill: transparent;
}

.section-title.modal-title {
  margin-bottom: 8px;
}

.modal-subtitle {
  text-align: center;
  color: var(--dark-green);
  margin-bottom: 72px;
}

.form-input {
  font-size: 16px;
  line-height: 1.17;
  width: 100%;
  background-color: transparent;
  color: var(--dark-brown);
  padding: 16px 42px;
  border: 1px solid var(--light-brown);
  border-radius: 8px;
  margin-bottom: 24px;
}

.form-input:focus {
  border-color: var(--light-green);
  outline: none;
}

.form-input::placeholder {
  color: var(--light-brown);
}

.form-input:focus::placeholder {
  color: var(--dark-brown);
}

.form-input.modal-input {
  margin-bottom: 32px;
}

.button-form.button-modal {
  margin-bottom: 24px;
}
